
<hr class="border">
<div class="mmt-credentials-form mmt-account-settings-form">

  <div class="col-lg-12 col-md-12">
   <div class="form-group">
    <%= f.label :return_date %>
    <%= f.date_select(:return_date,:start_year => 1990) %>
   </div>
  </div>
  
  <div class="col-lg-12 col-md-12">
   <div class="col-md-8">
    <%= f.submit %>
   </div>
  </div>
</div>



