<p id="notice"><%= notice %></p>

<div class="container main-container">
  <div class="main-container-top">
  <div class="filter-icons">
    <ul class="nav navbar-nav navbar-right">
      <%= link_to 'New', new_admin_user_user_detail_path %>
    </ul>
    </div>
    <section class="title-header">
      <h1>UserDetails</h1>
    </section>
  </div>
  <hr class="border">
  <div class="table-responsive scrollbar" id="table-scrollbar">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th>ReturnDate</th>
    </tr>
  </thead>

  <tbody>
    <%= render @user_details %>
  </tbody>
</table>
</div>