<p id="notice"><%= notice %></p>

<div class="container">
<h2>New UserDetails</h2>
<hr class="border">
<%= form_for @user_detail, url: admin_user_user_details_path, method: :post  do |f| %>

<%= render 'form', f:f %>
<% end %>
</div>
