<p id="notice"><%= notice %></p>
<div class="container main-container">
  <div class="main-container-top">
  <div class="filter-icons">
    <ul class="nav navbar-nav navbar-right">
      <%= link_to 'New', new_category_book_path %>
    </ul>
    </div>
    <section class="title-header">
      <h1>Books</h1>
    </section>
  </div>
  <hr class="border">
 <div class="table-structure">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <%= render @books %>
  </tbody>
</table>
</div>