<p id="notice"><%= notice %></p>

<div class="container">
<h2>Books</h2>
<hr class="border">
<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>
</div>
<%#= link_to 'Edit', edit_category_book_path(@book) %> 
<%#= link_to 'Back', category_books_path %>