<p id="notice"><%= notice %></p>

<div class="container">
<h1>UserBooks</h1>
<hr class="border">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ReturnDate</th>
      <th>ShippingAddress</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>

  <tbody>   
   <%= render @user_books %>  
  </tbody>
</table>
</div>