<div class="container">
<p id="notice"><%= notice %></p>

  <h3>Uesr - Details</h3>
  <%= link_to 'Edit', edit_admin_user_path(@user) %> 
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <% @user.password %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user.active %>
</p>

</div>  
