<div class="container">
<p id="notice"><%= notice %></p>

  <h3>show</h3>
  <%= link_to 'Edit', edit_user_detail_path(@user_detail) %> 
<p>
  <strong>Category:</strong>
  <%= @user_detail.category %>
</p>

<p>
  <strong>Books:</strong>
  <%= @user_detail.books %>
</p>

<p>
  <strong>ReturnDate:</strong>
  <% @user_detail.return_date %>
</p>

</div>  
