<div class="container">
<p id="notice"><%= notice %></p>
  <h3>UserDeatils - Show</h3>
  <hr class="border">
 <%= link_to 'Edit', edit_user_detail_path(@user_detail) %> 

<p>
  <strong>ReturnDate:</strong>
  <%= @user_detail.return_date %>
</p>

</div>  
